name: Daily Python Script

on:
  schedule:
    # 每週一 UTC 21:00 執行
    - cron: '0 21 * * 1'
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository to get the Python script
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Pull the pre-built Docker image
      - name: Pull Docker Image
        run: docker pull acsx7339/stock:latest

      # Run the script in the Docker container
      - name: Run Python Script in Docker
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/app \  # Mount the repository into the container
            -w /app \                         # Set working directory inside the container
            acsx7339/stock:latest \
            python3 main.py
